@import url("./base");

.banner {
	// overflow: hidden;

	width: 100%;
	height: 60vh;
	background: url("../../../Assets/Images/New-Collection--img.png");
	background-size: cover;
	& > .container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		@include border(red);
	}
	&-spacer {
		content: "";
		background: #000;
		height: 1rem;
		width: 1rem;
	}
	&-content {
		flex-wrap: wrap;
		@include rect-parent(6rem, 0, 2rem, $rect-height, 10rem);

		&-bg-rectangle {
			@include rect(0, unset, 10rem, unset);
		}
		// display: flex;

		&-text {
			max-width: 60rem;
			flex: 0 0 70%;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			&-title {
				font-size: 3rem;
			}
			&-copy {
			}
		}
		&-btn {
			// flex: 1;
		}
	}
}
