@import url("./base");

.banner {
	// overflow: hidden;

	width: 100%;
	height: 60vh;
	background: url("../../../Assets/Images/New-Collection--img.png");
	background-size: cover;
	& > .container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}
	&-spacer {
	}
	&-content {
		@include rect-parent(6rem, 0, 2rem, $rect-height, 10rem);

		&-bg-rectangle {
			@include rect(0, unset, 10rem, unset);
		}
		// display: flex;

		&-text {
			max-width: 60rem;
			flex: 0 0 70%;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			&-title {
				text-transform: uppercase;
				line-height: 1.2em;
				font-size: 3rem;
			}
			&-copy {
			}
		}
		&-btn {
			// flex: 1;
		}
	}
}

@media only screen and (max-width: $breakpoint-mobile) {
	.banner {
		// overflow: hidden;

		height: 60vh;
		& > .container {
			height: 100%;
		}
		&-content {
			flex-direction: column;

			@include rect-parent(0, 4rem, 2rem, $rect-height, 5rem);

			// - hero-footer-content-bg-rectangle
			&-bg-rectangle {
				@include rect(unset, 0, unset, 10rem);
			}

			// @include rect-parent(4rem, 0, 2rem, 10rem, 5rem);
			// gap: 2rem;

			// &-bg-rectangle {
			// 	@include rect(0, unset, 5rem, unset);
			// }

			&-text {
				max-width: 100%;
				flex: 1;

				&-title {
					font-size: 2rem;
				}
				&-copy {
				}
			}
			&-btn {
				// flex: 1;
			}
		}
	}
}
