@import url("../base");

.featured {
	& > .container {
		display: flex;
		gap: $column-gutter;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.feat-post {
	height: 50rem;
	flex: 1;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5rem;
	gap: 4rem;

	&:nth-child(1) {
		background: url("../../../Assets/Images/men-coll.png") no-repeat;
		background-size: cover;
		background-position: left top;
	}
	&:nth-child(2) {
		background: url("../../../Assets/Images/women-coll.png") no-repeat;
		background-size: cover;

		background-position: right top;
		.feat-spacer {
			order: 2;
		}
	}
}

.feat-spacer {
	flex: 0 0 40%;
	height: 1rem;
	width: 1rem;
}
.feat-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.feat-title {
	font-size: 3rem;
}
.feat-btn {
	font-size: 1.75rem;
	@include btn-left-circle;
}

@media only screen and (max-width: $breakpoint-mobile) {
	.feat-content {
		flex: 4;
	}

	.feat-spacer {
		flex: 0 0 20%;
	}

	.feat-post {
		height: 30rem;
		width: 20rem;

		&:nth-child(1) {
			background-position-x: 20%;
		}
		&:nth-child(2) {
			background-position-x: 80%;
		}
	}
	.feat-title {
		font-size: 1.8rem;
	}
	.feat-btn {
		font-size: 1.25rem;
	}
}
