@import url("../base");

.hero {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	background: url("../../../Assets/Images/Slider-img.png");

	// padding: calc(10rem + 10vh) 0 10rem;
	// container
	& > .container {
		// SPECIAL STYLING TO TARGET NESTED CONTAINERS

		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// - hero-content
	&-content {
		flex: 3;
		display: flex;
		flex-direction: column;
		gap: 4rem;
		justify-content: center;
		// margin-top: 10rem;
		text-transform: uppercase;
	}
	// - - hero-title
	&-title {
		// - - - hero-title-sub
		&-sub {
		}
		// - - - hero-title-main
		&-main {
		}
	}
	// - - hero-btn
	&-btn {
		&:link,
		&:visited {
			color: $primary-white;
		}
		// - - - hero-btn-text
		@include btn-left-circle;
		&-text {
		}
		// - - - hero-btn-icon
		&-icon {
		}
	}

	// - hero-footer
	&-footer {
		flex: 0 0 $rect-height;
		// margin-top: auto;
		// position: absolute;
		// bottom: 0;
		display: flex;

		// - - hero-footer-content
		&-content {
			flex: 1 1 $wrapper-content-length;

			@include rect-parent(0, 4rem, 2rem, $rect-height, 5rem);

			// - hero-footer-content-bg-rectangle
			&-bg-rectangle {
				@include rect(unset, 0, unset, 10rem);
			}
		}
		// - - - hero-footer-item
		&-item {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			// - - - - hero-footer-item-title
			&-title {
			}
			// - - - - hero-footer-item-text
			&-text {
			}
		}
		// - - hero-footer-nav
		&-nav {
			flex: 1 0 $wrapper-nav-length;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 2rem;
			// height: 1rem;
			// flex: 1;
			// - - - hero-footer-nav-item
			&-item {
				padding: 1rem;
				border-radius: 10rem;
				background: $primary-blue;
				width: 5rem;
				height: 5rem;

				& > i {
					color: $primary-white;
				}
				&:active,
				&:visited {
					color: $primary-white;
				}
			}
		}
	}
}

// media query
@media only screen and (max-width: $breakpoint-mobile) {
	.hero {
		& > .container {
			flex-direction: column;
			justify-content: center;
		}

		&-content {
			display: flex;
		}
		// - - hero-title
		&-title {
		}
		// - - hero-btn
		&-btn {
		}

		// - hero-footer
		&-footer {
			flex-wrap: wrap;
			&-content {
				flex: 1 1 $wrapper-content-length;

				// @include rect-parent(0, 4rem, 2rem, $rect-height, 5rem);

				// // - hero-footer-content-bg-rectangle
				// &-bg-rectangle {
				// 	@include rect(unset, 0, unset, 10rem);
				// }
			}
			// - - hero-footer-content
			// - - - hero-footer-item
			&-item {
				& + & {
					display: none;
				}
				flex-direction: column;
				gap: 1rem;
				// - - - - hero-footer-item-title
			}
			// - - hero-footer-nav
			&-nav {
				display: none;
			}
		}
	}
}
