@import url("../base");

.main-nav {
	.mobile-nav-list {
		display: none;
	}

	display: flex;
	align-items: center;

	& > .container {
		display: flex;
		justify-content: space-between;
		// padding: 2rem 0;
	}

	&-list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		// position: relative;
	}
	&-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 10vh;
	}
	&-link {
		display: block;
		height: 100%;
		&:hover {
			color: $pastel-red;
		}
	}
	&-dropdown {
		// dropdown styles
		position: relative;
		display: flex;
		flex-direction: column;
		&:hover {
			& > *:nth-child(2) {
				display: flex;
			}
		}

		&-btn {
		}
		&-content {
			flex-direction: column;
			gap: 1rem;
			position: absolute;
			top: 100%;
			right: 0;
			width: 150%; // - pos-relative at dropdown // DELETE LATER
			// width: 20rem; // - pos-relative at main-nav-list // DELETE LATER
			z-index: 1;
			display: none;
			background: #fff;
			border: 1px solid #ccc;
			border-radius: 0 0 0.25rem 0.25rem;
			box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
			&-item {
			}
		}
		&-link {
			padding: 1rem 1rem;
			// text-align: center;
			&:hover {
				background: $pastel-red;
			}
		}
	}
}
$breakpoint-mobile: 425px;

@media only screen and (max-width: $breakpoint-mobile) {
	.main-nav-list {
		display: none;
	}

	.mobile-nav {
		&-list {
			display: flex !important;
			justify-content: center;
			align-items: center;
			gap: 3rem;
		}

		&-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 10vh;
		}
	}
}
