.new-arrivals {
	& > .container {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		position: relative;
	}

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-title {
	}

	&-btn {
		position: absolute;
		top: 0;
		right: 0;
	}

	&-content {
		@include border($pastel-blue);
		display: flex;
		justify-content: space-between;
		gap: 3rem;
	}

	&-article {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		&-media {
		}
		&-image {
		}
		&-info {
		}
		&-name {
		}
		&-price {
		}
	}
}

@media only screen and (max-width: $breakpoint-mobile) {
	.new-arrivals {
		&-title {
		}

		&-btn {
			position: unset;
			order: 3;
		}

		&-content {
			flex-direction: column;
			gap: 3rem;
		}

		&-article {
			display: flex;
			flex-direction: column;
			gap: 3rem;
			&-media {
			}
			&-image {
				width: 100%;
			}
			&-info {
			}
			&-name {
			}
			&-price {
			}
		}
	}
}
