.new-arrivals {
	& > .container {
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-title {
	}

	&-btn {
	}

	&-content {
		@include border($pastel-blue);
		display: flex;
		justify-content: space-between;
		gap: 3rem;
	}

	&-article {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		&-media {
		}
		&-image {
		}
		&-info {
		}
		&-name {
		}
		&-price {
		}
	}
}

@media only screen and (max-width: $breakpoint-mobile) {
	.new-arrivals {
		&-content {
			flex-direction: column;
			gap: 3rem;
		}
	}
}
