@import url("../base");

.suggested {
	& > .container {
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-title {
	}

	&-btn {
	}

	&-content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 3rem;
	}

	&-article {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		&-media {
		}
		&-image {
		}
		&-info {
		}
		&-name {
		}
		&-price {
		}
	}
}

.btn {
}

.btn-ghost {
}

@media only screen and (max-width: $breakpoint-mobile) {
}
