@import url("../base");

.suggested {
	& > .container {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		position: relative;
	}

	&-btn {
		position: absolute;
		right: 0;
		top: 0;
		order: 3;
	}

	&-content {
		display: flex;
		justify-content: space-between;
		// flex-wrap: wrap;
		gap: 3rem;
	}

	&-article {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		&-media {
		}
		&-image {
			width: 100%;
		}
		&-info {
		}
		&-name {
		}
		&-price {
		}
	}
}

.btn {
}

.btn-ghost {
}

@media only screen and (max-width: $breakpoint-mobile) {
	.suggested {
		& > .container {
			display: flex;
			flex-direction: column;
			gap: 4rem;
		}

		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-btn {
			position: unset;
			order: 3;
		}

		&-content {
			flex-direction: column;
			display: flex;
			justify-content: space-between;
			gap: 3rem;
		}
	}
}
