@import url("./base");

// // all the Sass code handling the layout, which is the container and grid systems
.container {
	// clamp width
	width: 85vw;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	// @include container-flex(2, 3, 4);
}

// container-stretch, container-stretch-left, container-stretch-right
// flex, flex-x, flex-y, flex-wrap,
// flex-justify-center, flex-justify-between, flex-justify-around, flex-justify-end, flex-justify-start, flex-justify-evenly
// flex-align-center, flex-align-between, flex-align-around, flex-align-end, flex-align-start, flex-align-stretch
.main-nav {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	// min-height: 10vh;
}
.hero {
	padding-top: 10vh;
	height: 90vh;
	min-height: 90vh;
}

section {
	margin: $section-gap 0;
}
.featured {
}
.suggested {
}
.services {
}
.new-arrivals {
}
.banner {
}
.clients {
}
.footer {
}
